<h1><%= station.name %></h1>

<div class="row">
  <div class="col-lg-5 col-sm-12">
    <section class="col-lg-12 col-sm-12">
      <div class="row">
        <div class="card">
          <h3 class="card-header">Zones</h3>
          <div class="card-block col-lg-12 col-sm-12">
            <ul>
              <% station.zones.forEach(zone => { %>
                <li><%= zone %></li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="col-lg-12 col-sm-12">
        <div class="row">
          <div class="card">
            <h3 class="card-header">Lines</h3>
            <div class="card-block col-lg-12 col-sm-12">
              <ul>
                <% station.lines.forEach(line => { %>
                  <li><%= line.name %></li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section class="col-lg-3 col-sm-12">
          <div class="row">
            <div class="card card-outline-primary">
              <h3 class="card-header">Location</h3>
              <div class="card-block col-lg-12 col-sm-12">
                <div id="map">
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="col-lg-7 col-sm-12">
        <aside class="col-lg-12 col-sm-12">
          <div id="board" class="card card-outline-info">
            <h3 class="card-header">Live Arrivals</h3>
            <div class="card-block">
              <div id="arrivals">
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>



    <script>
    function initMap() {

      let LatLng = { lat: <%= station.latitude %>, lng: <%= station.longitude %> };

      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: LatLng,
        clickableIcons: false
      });

      let marker = new google.maps.Marker({
        position: LatLng,
        map: map,
        title: '<%= station.name %>'
      });

      setInterval(initArrivals('<%= station.naptan %>'), 3000);
    }

    function initArrivals(stationNaptan) {
      // Go get arrivals for this station...
      $.
      get(`https://api.tfl.gov.uk/StopPoint/${stationNaptan}/Arrivals?mode=tube&app_id=fedc9052&app_key=7944db1b32e1272d7c66fb54d54314f4`)
      .then(data => {
        if (data) {
          let arrivalsByPlatform = {};
          for (let arrival of data) {
            const destinationStation = arrival.destinationName || '*** Check front of train ***';
            const minutes = Math.floor(arrival.timeToStation / 60);

            if (! arrivalsByPlatform[arrival.platformName]) {
              // First one for this platform so init an array for it
              arrivalsByPlatform[arrival.platformName] = [];
            }

            arrivalsByPlatform[arrival.platformName].push({
              minutes: minutes,
              destinationStation: destinationStation.replace(' Underground Station', ''),
              line: arrival.lineName
            });

            console.log(arrival);
          }

          let arrivalsHtml = '';

          for (let platform in arrivalsByPlatform) {
            arrivalsHtml += `<h4>${platform}</h4><ol>`;

            // Sort by time
            arrivalsByPlatform[platform].sort(function(a, b) {
              if (a.minutes < b.minutes) {
                return -1;
              }

              if (a.minutes > b.minutes) {
                return 1;
              }

              return 0;
            });

            for (let arrival of arrivalsByPlatform[platform]) {
              arrivalsHtml += `<li>

              ${arrival.destinationStation} (${arrival.line}) - ${(arrival.minutes === 0 ? '*** Train approaching ***' : arrival.minutes)} m</li>`;
            }

            arrivalsHtml += '</ol>';
          }

          $('#arrivals').html(arrivalsHtml);

        } else {
          $('#arrivals').html('<p>Real time arrivals information is currently unavailable.');
        }
      });
    }
    </script>
