<h1>Plan your journey</h1>

<div class="row">
  <% users.forEach((user) => { %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="/users/<%= user._id %>"><%= user.firstname %> <%= user.lastname %> <%= user.username %></a></h4>
          <p class="card-text">
            <%= user.email %>
            <%= user.password %>
          </p>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<form id="journeydets">
  Travel from:
  <select id="origin" name="origin">
    <% stations.forEach((station) => { %>
      <option value="<%= station.icsCode %>"><%= station.name %></option>
    <% }) %>
  </select>
  to:
  <select id="destination" name="destination">
    <% stations.forEach((station) => { %>
      <option value="<%= station.icsCode %>"><%= station.name %></option>
    <% }) %>
  </select>

  <input type="submit" value="See your options">
</form>

<div id="journeyresults">
</div>
