<h1><%= user.firstname %> <%= user.lastname %></h1>
<h7><%= user.username %></h7> | <h7><%= user.email %></h7>
<br><br>
  <h3>Saved Journeys</h3>
  <ul>

    <% user.savedJourneys.forEach(journey => { %>
      <% if (journey.journeyDetails) { %>
      <li><%= journey.journeyInfo %></li>
      <ul>
      <% for (var i = 0; i < journey.journeyDetails.length; i++) { %>
        <li><%= journey.journeyDetails[i] %></li>
        <% } %>
        </ul>
        <form method="post" action="/users/<%= user._id %>/journeys/<%= journey._id %>">
          <input type="hidden" name="_method" value="delete">
          <button class="btn btn-danger">Delete</button>
        </form>
          <%  } %>
        <% }); %>

      </ul>
