<h1><%= user.firstname %> <%= user.lastname %></h1>
<h2><%= user.username %></h2>
<h2><%= user.email %></h2>
<%= user.savedJourneys %>
<h3>Stations</h3>
<ul>
  <% stations.forEach(station => { %>
    <li><a href="/stations/<%= station._id %>"><%= station.name %></a></li>
    <% }); %>
  </ul>

  <h3>Journeys</h3>
  <ul>
    <% user.savedJourneys.forEach(journey => { %>
      <li><%= journey.journeyInfo %></li>
      <ul>
      <% for (var i = 0; i < journey.journeyDetails.length; i++) { %>
        <li><%= journey.journeyDetails[i] %></li>
        <% } %>
        </ul>
        <ul>
        <li><%= journey.createdBy %></li>
        </ul>
        <form method="post" action="/users/<%= user._id %>/journeys/<% journey._id %>">
          <input type="hidden" name="_method" value="delete">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% }); %>
      </ul>
